@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
html {
	background-color: black;
	color: white;
	font-size: 30px;
	font-family: "Oswald";
}
.header_inner {
    width: 100%;
    display: flex;
    justify-content: center;
}
.header_main {
	margin-left: 10%;
	margin-right: 10%;
}
.header_menu {
    display: flex;
    padding: 20px 10px 0 20px;
    justify-content: space-around;
}

.service__menu {
    padding-left: 10%;
}

.header_brand {
    padding: 20px 10px 0 20px;
}

.contacts {
    display: flex;
    padding: 20px 10px 0 20px;
}

.header_contacts {
    padding-right: 20px;
}

.text_btn{
	margin: 2px;
}
.gradient-border {
  --borderWidth: 3px;
  background: black;
  position: relative;
  border-radius: var(--borderWidth);
  margin: 5px auto;
  padding-left: 20px;
  padding-right: 20px;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main__block {
    height: 100%;
   	margin: 10%;
    display: flex;
}

.proposition__txt {
    justify-items: start;
    width: 40%;
    font-size: 40px;
}

.get__more{
    text-decoration: none;
    color: grey;
    
}

.proposition__img{
	padding-right: 10%;
}
.prop__img  {
    width: 100%;
    height: 100%;
    float: left;
    
}

.gvarancy__txt {
    padding-top: 50px;
    margin-left: 20px;
    color: rgba(240, 203, 243, 0.2);
    font-size: 40px;
    color: rgb(180, 180, 180, 0.3);
        -webkit-text-stroke: 1px rgba(255, 165, 0, 0.7);
}

.btn_contact {
    margin: 10% 0 0 2%;
}

.btn__cont {

    width: 350px;
    height: 50px;
    -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
            -o-transform: skew(20deg);
    background-color: black;
}

.reg__txt {
    color: white;
    text-decoration: none;
        -moz-transform: skew(-20deg);
    font-size: 150%;       
}

