@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
html {
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: "Oswald";
}
.header_main {

    width: 80%;
    display: inline-flex;
    margin-left: 10%;
    margin-right: 10%;

}
body {
	margin: 0px;
}
.header_inner {
	margin: auto;
}
.header_menu {
	height: 5%;
    display: inline;
    margin: auto;
}
.nav_class {
	margin: auto;
}
.header_contacts_phone {
	margin: auto;
}
.header_contacts_email {
	margin: auto;
}
.nav_link {
	margin: auto;
}
p {
	display: inline-flex;
}




.gradient-border {
  --borderWidth: 3px;
  background: black;
  position: relative;
  border-radius: var(--borderWidth);
  margin: 5px auto;
  padding-left: 20px;
  padding-right: 20px;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



