<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static '/css/store.css' %}">
</head>
<body>
	<header class="header_main">
		<div class="header_inner">
			<aside class="header_brand" href="#">AGROsupport</aside>
		
		<div class="header_menu">
			
				<aside class="service__menu" href="#">Home</aside>
				<aside  class="service__menu" href="#">Services</aside>
				<aside  class="service__menu" href="#">Registration</aside>
			
		</div>
	
			<div class="gradient-border">
				<aside class="text_btn">Shop</aside>
			</div>
		<div class="contacts">
			<div class="header_contacts">
				<p class="contact_class" href="#"> +380999999999 </p>
			</div>
			<div class="header_contacts">
				<p class="contact_class" href="#"> support@gmail.com</p>
			</div>
		</div>
		</div>
		</div>
	</header>
	<div class="main__block">
		<div class="proposition__txt">
			<p> Repair of fuel equipment of domestic and foreign production<br>Overhaul of parts of your fuel equipment
				<a href="#" class="get__more">learn more...</a>
			</p>
			<div class="btn_contact">
				<p class="btn__cont gradient-border "> Register</p>
			</div>
		</div>
		<div class="proposition__img">
			<img class="prop__img" src="{% static 'images/test_enemy_photo.png' %}" alt="proposition image">
			<aside class="gvarancy__txt">For over 20 years we have been helping you</aside>
		</div>
	</div>
	<div class="connect_bd_tag">
		{% for fortag in tag %}
			{{fortag.tag_main_page}}
		{% endfor %}
	</div>



</body>
</html>
